*{
    margin:0;
    padding:0;
    /*outline: 1px dashed #cccccc;*/
}
body{
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    /*居中显示*/
    justify-content: center;
    align-items: center;

    font-weight: lighter;

    background: linear-gradient(to top, lightgreen, white, lightgreen);
}
.container{
    position:relative;
    margin-top: -80px;
    padding:20px;
    width:280px;
}
.container >h1{
    font-weight: lighter;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px ;
}
.container>form{
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #ccc ;
    border-radius:12px;
    padding: 20px;
    background: linear-gradient(to top, lightcyan, white, lightcyan);

}
.container>form>div{
    padding: 10px;
}
.container>form:hover{
    background: linear-gradient(to right, white, lightcyan);
    box-shadow: 0 0 5px #2d6a88;
}
.container>form>div{
    display: flex;
}
.container>form>div>input{
    flex:1;
    border:1px #999999;
    border-radius: 5px;
    padding-left:5px;
}
.container>form>div>button{
    flex:1;
    border:1px;
    border-radius: 5px;
    background-color: #1c82d4;
    letter-spacing: 10px;
    color: #fff;
    padding: 3px;
    box-shadow:  0 2px 1px darkolivegreen;
}
.container>form>div>button:hover{
    box-shadow: 0 0 3px #2d6a88;
    background-color: #1c82d4;

}